.autosuggest-search{
    display: block;
    width: 100%;
    text-align: center;
}
.react-autosuggest__container{
    display: inline-block;
}

.ranking span{
    margin-right: 14px;
}
.search__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search__input > input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
}

.search__input > input:focus {
    outline-width: 0;
}

.search__inputIcon {
    margin-left: 8px;
    color: gray;
}

.mic-icon {
    margin-right: 8px;
}

.search__buttons {
    display: inline-block;
    justify-content: center;
    margin-top: 30px;
}

.search__buttons button {
    padding: 7px 15px;
    margin: 5px;
    background-color: #f8f8f8;
    border: 1px solid white;
    text-transform: inherit;
    color: #5f6368;
}

.search__buttons button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linier-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.search__buttonHidden {
    display: none !important;
}

.wikisearch-logo-area{
    position: relative;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
}

.wikisearch-logo {
    width: 350px;
    max-width: 350px;
}
.wikisearch-logo-small{
    width: 150px;
    height: 110px;
    margin-right: 20px;
}


.autosuggest-search{
    height: auto;
    margin: 0 auto;
    padding: 0px 10px;
    position: relative;
}

.react-autosuggest__container {
    position: relative;
    margin: 0px auto;

}

.react-autosuggest__input {
    width: 540px;
    height: 30px;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 0px;
    overflow: hidden;
    -webkit-appearance: none;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input::-ms-clear {
    display: none;

}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    width: 100%;

}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.react-autosuggest__section-container {
    border-top: 1px dashed #ccc;

}

.react-autosuggest__section-container--first {
    border-top: 0;
}

.react-autosuggest__section-title {
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #777;
}

.search__buttons button{
    font-size: 18px;
    padding: 10px 40px;
    margin-top: -1px;
    background: #FFFFFF;
    color: #B83018;
    border: 1px solid #B83018;
}

.search__buttons button:hover{
    background: #B83018;
    color: #FFFFFF
}
